@use "/src/styles/variables/colors" as colors;

.button {
   background-color: colors.$accent;
   color: colors.$white;
   border-radius: 8px;
   font-weight: 500;
   padding: 8px 16px;

   transition: all 0.15s ease;

   &:hover {
      background-color: rgba(colors.$accent, 0.8);
   }

   &:active {
      background-color: rgba(colors.$accent, 0.5);
   }

   &.with-content {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__content {
      display: flex;
      align-items: center;
      gap: 5px;
   }
}
