.button {
   border-radius: 8px;
   background-color: $white;
   color: $blue;
   font-weight: 500;
   padding: 8px 16px;

   &.with-content {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__content {
      display: flex;
      align-items: center;
      gap: 5px;
   }
}
