.coin-detail-page-header {
   &__data-overview {
      display: flex;
      flex-direction: column;
      flex: 0 0 50%;
   }

   &__coin-data {
      align-self: flex-start;
   }

   &__coin-info {
      display: flex;
      justify-content: space-between;
   }

   &__coin-symbol {
      text-transform: uppercase;
      font-weight: 400;
   }

   &__coin-label {
      margin-bottom: 10px;
   }

   &__price-overview-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__overview-profit {
      align-self: flex-end;
   }

   &__overview-current-price {
      font-weight: 700;
      font-size: 32px;
   }
}
