@import "./variables.scss";

body {
   font-family: Roboto, sans-serif;
   font-size: 16px;
   color: $white;
   background-color: $primary;
}

*,
*::after,
*::before {
   box-sizing: border-box;
}

ul {
   padding: 0;
}

input,
button {
   border: none;
   outline: none;
}

button {
   cursor: pointer;
}

a {
   text-decoration: none;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}
