@import "variables.scss";
@import "global";

body {
   font-family: Roboto, sans-serif;
   font-size: 16px;
   color: $white;
   background-color: $primary;
}

*,
*::after,
*::before {
   box-sizing: border-box;
}

ul {
   padding: 0;
}

input,
button {
   border: none;
   outline: none;
   background-color: transparent;
}

button {
   cursor: pointer;
}

a {
   text-decoration: none;
}
