@use "/src/styles/variables/colors" as colors;

.input {
   height: 48px;
   border-radius: 8px;
   padding: 0 16px;
   border: 1px solid transparent;
   transition: border 0.3s ease;
   background-color: #10194e;
   color: colors.$white;

   &:focus {
      border: 1px solid colors.$grey;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   }

   &::placeholder {
      color: colors.$grey;
   }
}
