.header {
   background-image: url("../../assets/images/waves.svg");
   background-size: cover;
   background-position: center 80%;
   background-repeat: no-repeat;
   background-color: #fff;
   height: 200px;

   &__inner {
      display: flex;
      align-items: center;
   }
}
