@use "/src/styles/variables/colors" as colors;

.coin-item-price {
   display: flex;
   color: colors.$orange;

   &.positive {
      color: colors.$green;
   }

   &.negative {
      color: colors.$red;
   }
}
